

#stop {
  margin-top: 10px;
  margin-left:200px;
}
nav{
  margin-top: 10px;
  margin-left: 10px;
  width: 180px;
  position: absolute;
  border-width:2px;
  border-style:solid;
  border-color: #c63d39;
  /*cursor:auto;*/
}
#lost{
  width: 180px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #696fff;


}

#navimg1{

  width: 170px;
  left: 10px;
  height: 100px;
  background-image: url("http://cafefiles.naver.net/20160107_149/27960092_1452137984549_oNGjI4_jpg/27960092_user_123944.jpg");
  background-size:cover;
}

#navimg2{

  width: 170px;
  left: 10px;
  height: 100px;
  /*background-image: url("images/inven.jpg");*/
  background-size:cover;
}

#navwd{
  text-align: center;
  font-weight: bold;
  text-size: 20px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #1dff31;
  text-align: center;
}
